Create DATABASE test;
use test;

CREATE TABLE `user` (
  `user_id` int(10) NOT NULL AUTO_INCREMENT,
  `user_name` varchar(255) NOT NULL,
  `date_added` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

CREATE TABLE `offenses` (
 `offense_id` int(5) NOT NULL AUTO_INCREMENT,
  `user_id` int(5) NOT NULL,
  `H_N_done` tinyint(1) NOT NULL,
  `stealing` tinyint(1) NOT NULL,
  `flighting` float NOT NULL,
  `lying` float NOT NULL,
  `untideyness` tinyint(1) NOT NULL,
  `S_P_damage` tinyint(1) NOT NULL,
  `G_B_time` int(2) NOT NULL,
  `calculation_mode` enum('0','1') NOT NULL COMMENT '0=''congurent'',1=''Consecutive''',
  `date_addded` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
   PRIMARY KEY (`offense_id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

